<!--Header-->
<ion-header>
  <ion-toolbar>
    <ion-title>Favourite Movies</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- loop through each movie in the favourites array -->
    <ion-item *ngFor="let movie of favourites">
      <ion-thumbnail slot="start">
        <img [src]="getPoster(movie.poster_path)" />
      </ion-thumbnail>
      <ion-label>{{ movie.title }}</ion-label>
      <!-- Details button, nav to movie details -->
      <ion-button slot="end" (click)="goToMovieDetails(movie)">Details</ion-button>
    </ion-item>
  </ion-list>
</ion-content>